body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  z-index: 1; /* Ensure drawer is above other elements */
}

.main-content {
  margin-left: 220px; /* Adjust to create space for the drawer and the card list */
  padding: 20px;
}

.drawer.open {
  left: 0;  /* Ensures drawer is always open */
}

.drawer ul {
  list-style: none;
  padding: 0;
}

.drawer li {
  padding: 10px 20px;
}

.drawer a {
  color: #fff;
  text-decoration: none;
}

.main-content {
  margin-left: 250px;  /* Added to adjust content position with open drawer */
  padding: 20px;
}

.open-btn {
  display: none;  /* Hide the open button when drawer is always open */
}

.console-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
}

.console-window {
  width: 600px;
  max-height: 50%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex; /* Add this line to use flexbox layout */
  flex-direction: column; /* Add this line to use flexbox layout */
}

.console-header {
  padding: 8px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #666;
  border-radius: 4px 4px 0 0;
}

.console-content {
  padding: 10px;
  overflow-y: auto;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #333;
}

.card-list {
  display: flex;
  flex-wrap: wrap; /* To wrap cards to the next line if the container width is not enough */
  gap: 20px; /* Add spacing between the cards */
  flex-direction: column;
  width: 400px;
  position: relative;
}

.card {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the card width based on the number of cards per row (3 cards in this example) */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  position: relative;
}

/* Style the card heading and content as desired */
.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
}

.card-checkbox {
  /* Add styles for the checkbox */
  position: absolute;
  top: 10px;
  right: 10px;
}

.checkbox-header {
  width: 400px;
  display: flex;
  align-items: center; /* Align elements vertically at the center */
}

.transaction-checkbox {
  margin-right: 10px; /* Adjust the spacing between checkbox and heading */
}

.checkbox-header button {
  padding: 10px;
  margin-left: auto; /* Push the button to the right by consuming all available space */
}

.endtoendid-input {
  margin-bottom: 10px;
}