<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  {% block external_styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  {% endblock %}

</head>

<body>
  <!-- Navigation Drawer -->
  <div class="drawer open">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="{{ url_for('sanity') }}">Sanity Test</a></li>
      <li><a href="{{ url_for('simulator') }}">Transaction Simulator</a></li>
      <li><a href="#">History</a></li>
      <li><a href="#">Data</a></li>
      <li><a href="{{ url_for('setting') }}">Setting</a></li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    {% block content %}
    {% endblock %}
  </div>

  {% block externals_script %}
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  {% endblock %}
</body>

</html>