<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='testPage.css') }}" />
  </head>

  <body>
    <main>
      <div class="row">
        <div class="column">
          <p class="text" id="inputText" name="inputTextArea">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt.
            Blandit cursus risus at ultrices mi. Aliquam sem fringilla ut morbi.
            In eu mi bibendum neque egestas congue. Aliquet nibh praesent
            tristique magna. Purus sit amet luctus venenatis lectus magna
            fringilla urna porttitor. Dictum sit amet justo donec enim diam
            vulputate ut. Ullamcorper eget nulla facilisi etiam dignissim diam
            quis. Enim praesent elementum facilisis leo vel fringilla est. Sit
            amet luctus venenatis lectus magna fringilla. Posuere urna nec
            tincidunt praesent semper feugiat nibh sed. Ac odio tempor orci
            dapibus. Hendrerit dolor magna eget est lorem ipsum dolor sit amet.
            Pellentesque elit eget gravida cum sociis natoque. Elementum
            sagittis vitae et leo duis ut diam. Nunc faucibus a pellentesque sit
            amet porttitor eget dolor. Velit sed ullamcorper morbi tincidunt
            ornare. Lacus laoreet non curabitur gravida. Aliquam vestibulum
            morbi blandit cursus risus at ultrices mi tempus. Leo duis ut diam
            quam nulla porttitor massa id neque. Faucibus turpis in eu mi
            bibendum. Magna sit amet purus gravida quis. Consequat ac felis
            donec et. In eu mi bibendum neque egestas. In ornare quam viverra
            orci. Amet consectetur adipiscing elit duis tristique sollicitudin
            nibh sit. Sed lectus vestibulum mattis ullamcorper velit sed
            ullamcorper morbi tincidunt. Enim nunc faucibus a pellentesque sit
            amet. Nunc sed augue lacus viverra vitae congue eu.
          </p>
        </div>

        <div class="column">
          <p class="text" id="outputText" name="outputTextArea">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt.
            Blandit cursus risus at ultrices mi. Aliquam sem fringilla ut morbi.
            In eu mi bibendum neque egestas congue. Aliquet nibh praesent
            tristique magna. Purus sit amet luctus venenatis lectus magna
            fringilla urna porttitor. Dictum sit amet justo donec enim diam
            vulputate ut. Ullamcorper eget nulla facilisi etiam dignissim diam
            quis. Enim praesent elementum facilisis leo vel fringilla est. Sit
            amet luctus venenatis lectus magna fringilla. Posuere urna nec
            tincidunt praesent semper feugiat nibh sed. Ac odio tempor orci
            dapibus. Hendrerit dolor magna eget est lorem ipsum dolor sit amet.
            Pellentesque elit eget gravida cum sociis natoque. Elementum
            sagittis vitae et leo duis ut diam. Nunc faucibus a pellentesque sit
            amet porttitor eget dolor. Velit sed ullamcorper morbi tincidunt
            ornare. Lacus laoreet non curabitur gravida. Aliquam vestibulum
            morbi blandit cursus risus at ultrices mi tempus. Leo duis ut diam
            quam nulla porttitor massa id neque. Faucibus turpis in eu mi
            bibendum. Magna sit amet purus gravida quis. Consequat ac felis
            donec et. In eu mi bibendum neque egestas. In ornare quam viverra
            orci. Amet consectetur adipiscing elit duis tristique sollicitudin
            nibh sit. Sed lectus vestibulum mattis ullamcorper velit sed
            ullamcorper morbi tincidunt. Enim nunc faucibus a pellentesque sit
            amet. Nunc sed augue lacus viverra vitae congue eu.
          </p>
        </div>
      </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>
